In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
#set labelled data 
s = pd.Series([1,2,3,4,5], index=["one","two","three", "four", "five"])
print(s)

# access all index 
print(s.index)

# why index dtype showing as a object in outptu - 
# In pandas (and the underlying NumPy library), there isn't a specific string data type used by default for indexes. 
#Instead, pandas uses the object dtype to store pointers to any non-numeric data, which most commonly includes strings.

one      1
two      2
three    3
four     4
five     5
dtype: int64
Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [4]:
# Access the value of series

print(s["one"]) # using index or label
# print(s[0])     # using index/position eg. 0, 1, 2,3

1

### Lec 05 - Series properties

In [5]:
# Homogenous - always store index in object format
print("\n pandas series is  homogenous ")
x = pd.Series([1,2,3,4,5,"abc"], index=["one","two","three", "four", "five",23])
print(x)
print("\n pandas series is  homogenous ")

#vectorized Openration - 
print("\n vectorized operations")
vec_ops = x * 2
print(vec_ops)

# Handle missing value with NaN - see in next lecture

# mutuable values, immutable size
print("\n mutuable values")
x["one"] = 97
print(x)

print("\n immutable size") # using drop function
change_seri = x.drop("one")
print(x)
print(change_seri)

 pandas series is  homogenous
one        1
two        2
three      3
four       4
five       5
23       abc
dtype: object

 pandas series is  homogenous

 vectorized operations
one           2
two           4
three         6
four          8
five         10
23       abcabc
dtype: object

 mutuable values
one       97
two        2
three      3
four       4
five       5
23       abc
dtype: object

 immutable size
one       97
two        2
three      3
four       4
five       5
23       abc
dtype: object
two        2
three      3
four       4
five       5
23       abc
dtype: object

### Lec 06 - DataFrame in Pandas

In [6]:
# All series properties are apply on DataFrame. 

# DataFrames in pandsa - using dictionary 
info = {
    "name":["adam","eve","bob"],
    "marks":[78,99,85],
    "grade":['b','o','a']
}

df = pd.DataFrame(info)
print(df)
print(type(df))

print("\n row labels")
print(df.index)

print("\n Column lables")
print(df.columns)

   name  marks grade
0  adam     78     b
1   eve     99     o
2   bob     85     a
<class 'pandas.core.frame.DataFrame'>

 row labels
RangeIndex(start=0, stop=3, step=1)

 Column lables
Index(['name', 'marks', 'grade'], dtype='object')

In [7]:
# DataFram using numpy array

import numpy as np
np_arr = np.array([[1,2,3], [4,5,6],[7,8,9]])
df = pd.DataFrame(np_arr, columns=["col1", "col2", "col3"])
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [8]:
# DataFrame using list 

l = [ ["adam",96], ["eve",75], ["charlie",92] ]
df = pd.DataFrame(l, columns=["name","marks"])
print(df)

      name  marks
0     adam     96
1      eve     75
2  charlie     92

### Lec 07 - Pandas with csv & json data

In [9]:
# Read csv file in pandas
print("read csv file in pandas use 'read_csv' function")
df = pd.read_csv("employee_data.csv")
print(df)

read csv file in pandas use 'read_csv' function
   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000

In [10]:
# Read json file in pandas]
import json

print("read json file in pandas use 'read_json' function \n")
dfJ = pd.read_json("employee.json")
print(dfJ)

read json file in pandas use 'read_json' function

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000

## Lec 08 - DataFrame Methods

In [22]:
print(" \n return top 5 row by default \n")
print(df.head()) # return top 5 row by default

print(" \n return specific row \n")
print(df.head(2)) # return specific row

 return top 5 row by default

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000

 return specific row

   ID   Name  Age Department  Salary
0   1  Alice   25         HR   55000
1   2    Bob   32         IT   72000

In [25]:
# Tail

print("\n return last 5 rows \n")
print(df.tail())

print("\n print custom row \n")
print(df.tail(3))

 return last 5 rows

   ID    Name  Age Department  Salary
5   6   Frank   29    Finance   50000
6   7   Grace   41         HR   82000
7   8  Hannah   26  Marketing   47000
8   9     Ian   35         IT   75000
9  10   Julia   30    Finance   60000

 print custom row

   ID    Name  Age Department  Salary
7   8  Hannah   26  Marketing   47000
8   9     Ian   35         IT   75000
9  10   Julia   30    Finance   60000

In [34]:
# Sample 
print("\n It will give sample 1 row data randomly every time it will return random 1 row data  \n")
print(df.sample())

print("\n it will give us randome sample data \n")
print(df.sample(3))

 It will give sample 1 row data randomly every time it will return random 1 row data

   ID Name  Age Department  Salary
4   5  Eva   38         IT   65000

 it will give us randome sample data

   ID     Name  Age Department  Salary
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
9  10    Julia   30    Finance   60000

In [36]:
# info
print("\n returnt the information about the table. like how many columns are present, give us Data type of each row with row name and it's attribute")
print(df.info())

 returnt the information about the table. like how many columns are present, give us Data type of each row with row name and it's attribute
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10 non-null     int64
 1   Name        10 non-null     object
 2   Age         10 non-null     int64
 3   Department  10 non-null     object
 4   Salary      10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
None

In [42]:
# shape
print(df.shape)

(10, 5)

In [43]:
# describe
print("\n it is describe about the table information like insight from the table.  \n")
print(df.describe())

             ID        Age        Salary
count  10.00000  10.000000     10.000000
mean    5.50000  32.900000  64500.000000
std     3.02765   6.674162  15182.226451
min     1.00000  25.000000  47000.000000
25%     3.25000  28.250000  51250.000000
50%     5.50000  31.000000  62500.000000
75%     7.75000  37.250000  74250.000000
max    10.00000  45.000000  91000.000000

In [46]:
# column

print("\n return columns name \n")
print(df.columns)

 return columns name

Index(['ID', 'Name', 'Age', 'Department', 'Salary'], dtype='object')

In [47]:
# nunique()
print("\n it is return total unique value in table. like name unique, department how many are unique. means it is not count duplicate data \n")
print(df.nunique())

ID            10
Name          10
Age           10
Department     4
Salary        10
dtype: int64